<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="inputInformationService" class="ru.otus.spring.service.Impl.InputInformationServiceImpl"/>

    <bean id="outputInformationService" class="ru.otus.spring.service.Impl.OutputInformationServiceImpl"/>

    <bean id="processResources" class="ru.otus.spring.service.Impl.ProcessResourcesImpl">
        <constructor-arg name="path" value="src/main/resources/questions.csv"/>
    </bean>

    <bean id="testService" class="ru.otus.spring.service.Impl.TestServiceImpl">
        <constructor-arg name="processResources" ref="processResources"/>
        <constructor-arg name="outputInformationService" ref="outputInformationService"/>
        <constructor-arg name="inputInformationService" ref="inputInformationService"/>
    </bean>
</beans>